<!--
TODO: Replace with turbo form instead of jank stimulus
-->
<section data-controller="webauthn" data-webauthn-options-value="<%= @options.to_json %>" data-webauthn-csrf-value="<%= session[:_csrf_token]%>">
	<h1>Create passkey</h1>

	<button data-action="click->webauthn#createAndCut">Create</button>
</section>

<style>
	button {
		background-color: red;
		padding: 0.5rem;
	}
	
	section {
		display: flex;
		margin: 5rem;
		flex-direction: column;
		gap: 1rem;
	}
	
</style>