<h1>Unsupported Browser</h1>

<p>Your browser doesn't support passkeys, how you access your Obl.ong account. Please upgrade to a supported browser [list browsers]</p>

<a href="<%= params[:returnpath]%>?force=true">Continue anyway</a>