<main class="admin p-4">
    <h1 style="font-size: xx-large;">Adminland</h1>

    <ul>
        <li><a href="/admin/users">- View Users</a></li>
        <li><a href="/admin/domains">- View Domains</a></li>
         <li><a href="/admin/domains/review" data-turbo="false">- Review Domain Requests</a></li>
         <li><a href="/admin/developers/review" data-turbo="false">- Review Developer App Requests</a></li>
         <li><a href="/admin/jobs">- Mission Control (Active Job)</a></li>
    </ul>
</main>

<style>
    li {
        margin-top: 0.25rem;
    }

    a {
        color: var(--winter-sky);
    }
</style>
