<main>
    <div class="logout-box">
        
    </div>
</main>

<style>
    .logout-box {
        padding: 1rem;
        border-radius: 6px;
        border: 3px var(--winter-sky);
        background-color: var(--winter-sky);
        backdrop-filter: opacity(0.5);
    }
</style>