<h2 class="admin-h2">Records</h2>

<form
  class="flex flex-wrap flex-row gap-4 gap-y-2 items-end"
  method="POST"
  action="<%= add_record_domain_path(@domain) %>"
>
  <div>
    <label class="label" for="type">Type
    </label>
    <select name="type" class="input h-[41.2px]">
      <option value="A">A</option>
      <option value="URL">URL</option>
      <option value="CNAME">CNAME</option>
    </select>
  </div>
  <div>
    <label class="label" for="name">Name
    </label>
    <input class="input w-56" type="text" name="name" placeholder="@">
  </div>
  <div>
    <label class="label" for="content">Value
    </label>
    <input class="input w-56" type="text" name="content" placeholder="random.cdn.local">
  </div>
  <div>
    <label class="label" for="ttl">TTL
    </label>
    <input class="input w-24" type="number" name="ttl" placeholder="Auto">
  </div>
  <div>
    <label class="label" for="priority">Priority
    </label>
    <%# TODO this should be disabled for certain types of records %>
    <input class="input w-24" type="number" name="priority">
  </div>
  <input class="btn-sm-pink" type="submit" value="Add Record">
</form>
<br>

<%= turbo_frame_tag "dns_records", src: dns_frame_records_domain_path(@domain) do %>
Loading... (TODO this should be spinny)
<% end %>