<div class="flex flex-col items-center">

<h1 class="text-blue text-center text-4 lg:text-5 xl:text-6 font-heading">Manage your domains</h1>

<form action="/users/logout" method="GET">
  <input type="submit" value="Logout">
</form>
<h1>All Domains</h1>

<form action="/domains/new" method="POST">
<label for="host">Host: </label>
<input class="input" type="text" name="host" required>
<input class="btn-sm-pink" type="submit" value="New domain">
</form>
<br>

<% @domains.each do |domain| %>
    <a href="/domains/<%= domain.host %>"><li><%= domain.host + "." + ENV["DOMAIN"] %> </li></a>
<% end %>

</div>