<div class="flex flex-col items-center gap-8">

<h1 class="text-blue text-center text-4 lg:text-5 xl:text-6 font-heading">Manage your domains</h1>

<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
<% @domains.each do |domain| %>
  <a href="<%= domain_path(domain) %>" class="flex flex-col p-4 items-start gap-[1.375rem] bg-text text-black shadow-md rounded-2xl">
    <h2 class="text-[2.625rem] font-body leading-none">
      <%= domain.host + "." + ENV["DOMAIN"] %>
    </h2>
    <div class="flex flex-col gap-2 items-start">
      <!-- TODO: records - this is just placeholder for now -->
      <div class="flex flex-row items-center gap-2">
        <span class="chip-blue">CNAME</span>
        <span class="text-2 leading-none">@ → fizzbuzz.github.io</span>
      </div>
      <div class="flex flex-row items-center gap-2">
        <span class="chip-blue">MX</span>
        <span class="text-2 leading-none">@ → aspmx.l.google.com</span>
      </div>
      <div class="flex flex-row items-center gap-2">
        <span class="chip-blue">A</span>
        <span class="text-2 leading-none">foo. → 69.42.0.231</span>
      </div>
    </div>
    <div class="flex flex-row content-between gap-2">
      <span class="chip-blue bg-green uppercase">Live</span>
    </div>
  </a>
<% end %>
<div class="flex flex-col shadow-md p-4 rounded-2xl bg-text text-black">
<form action="<%= new_domain_path %>" method="POST">
<label for="host">Host: </label>
<input class="input" type="text" name="host" required>
<input class="btn-sm-pink" type="submit" value="New domain">
</form>
</div>
</div>


<!--

<form action="/users/logout" method="GET">
  <input type="submit" value="Logout">
</form>
<h1>All Domains</h1>

<br>

-->

</div>