<h1 class="font-heading text-3 lg:text-4 xl:text-5">Request a subdomain</h1>

<iframe class="mx-[-8px]" data-tally-src="https://tally.so/embed/wdEYpN?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="850" frameborder="0" marginheight="0" marginwidth="0" title="Obl.ong domain request"></iframe>
<script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>