<h1 class="admin-h2">Danger zone</h1>

<form method="DELETE" action="<%= domain_path(@domain) %>">
  <input class="btn-sm-pink" type="submit" value="Destroy" data-turbo-confirm="Are you sure you want to delete your domain? This action is permanent and irreversible.">
</form>
