/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

:root {
	--winter-sky: #FF206E;
	--cultured: #F5F5F5;
	--bg: #343434;
	--lemon-glacier: #FBFF12;
}
h1 {
	font-size: larger;
	font-weight: 800;
}

button, input[type=submit] {
	background-color: var(--winter-sky);
	border-radius: 999999px;
	display: inline-flex;
	padding: 0.625rem 0.90625rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	color: var(--cultured, #F5F5F5);
	font-size: 1.25rem;
	font-family: "Telegraf";
	line-height: 100%;
	min-width: min-content;
}

input[type=text], input[type=email], input[type=number] {
	background-color: rgba(245, 245, 245, 0.1) !important;
	border: 1.5px solid var(--cultured)!important;
	border-radius: 5px !important;
	min-width: 350px;
	color: white;
}

input[type=number]  {
	min-width: 100px !important;
	width: 100px !important;
}

.admin {
	border: 2px dashed skyblue;
}

.flash {
	padding: 0.625rem 0.90625rem;
	border-radius: 10000000px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}
.flash-notice {
	background-color: cornflowerblue;
}

.hidden {
	display: none;
}

.record-edit {
	min-width: unset !important;
	width: 150px;
}